/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container {
  width: 80%; /* Largeur de votre container */
  margin: 50px auto 0; /* Ajoute de l'espace en haut et centre le container horizontalement */
  padding: 20px; /* Ajoute un espace intérieur au container pour le style */
  background-color: #f8f8f8; /* Couleur de fond du container (gris clair) */
  border-radius: 4%; /* Arrondi les coins du container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre au container */
}

/* Style du texte à l'intérieur du container */
.container p {
  color: #333; /* Couleur du texte (gris foncé) */
  font-size: 16px; /* Taille de police */
  line-height: 1.5; /* Hauteur de ligne */
}
